svc/tibco/tibco.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.telbru.com.bn/wsdl/addBalanceService" xmlns:tns0="http://www.telbru.com.bn/schema/addBalanceSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="addBalanceService" targetNamespace="http://www.telbru.com.bn/wsdl/addBalanceService">
  <wsdl:types>
    <xsd:schema xmlns="http://www.telbru.com.bn/schema/addBalanceSchema" elementFormDefault="unqualified" targetNamespace="http://www.telbru.com.bn/schema/addBalanceSchema">
      <xsd:element name="addBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="source" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="uuid" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="balance"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="balance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="msisdn" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="transactionType" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="transactionCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="refillProfileValue" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:double"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="currencyValue" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="type" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="purpose" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="balancetxncode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="uuid" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addBalanceRequest">
    <wsdl:part element="tns0:addBalance" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addBalanceResponse">
    <wsdl:part element="tns0:addBalanceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="addBalanceService">
    <wsdl:operation name="addBalance">
      <wsdl:input message="tns:addBalanceRequest" name="addBalanceInput"/>
      <wsdl:output message="tns:addBalanceResponse" name="addBalanceOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="addBalanceServiceBinding" type="tns:addBalanceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addBalance">
      <wsdl:documentation/>
      <soap:operation soapAction="addBalance" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="addBalanceService">
    <wsdl:port binding="tns:addBalanceServiceBinding" name="addBalanceServiceSOAP">
      <soap:address location="http://localhost:9030/addBalanceServiceBinding/addBalanceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
